/* TimeSelector.css */
.time-selector {
  padding: 20px;
}

.time-grid {
  width: 100%;
  border-collapse: collapse;
}

.time-grid th,
.time-grid td {
  border: 1px solid #ddd;
  // padding: 8px;
  width: 4px;
  height: 14px;
  text-align: center;
}

.time-grid th {
  background-color: #f2f2f2;
}

.time-cell {
  // cursor: pointer;
  transistion: background-color 0.3s ease;
}

.time-cell:hover {
  background-color: #e2e2f2;
}

.selected {
  background-color: #b2d8b2; /* Light green background for selected cells */
}

.clear-button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #f44336; /* red */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.time-cell.preview {
  background-color: rgba(178, 216, 178, 0.5); /* 浅绿色，半透明 */
}
