@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@semi-bot/semi-theme-orbia/semi.min.css";

body {
  color: var(--semi-color-text-0);
  background-color: var(--semi-color-bg-0);
}

.time-table {
  /* width: 100%; */
  border-collapse: collapse;
}
.time-table th,
.time-table td {
  border: 1px solid #444;
  text-align: center;
  font-size: 12px;
  width: 14px;
}
.time-table th,
.time-table td.day-cell {
  cursor: default; /* Change cursor style to indicate non-interactive */
  user-select: none; /* Prevent text selection */
}
.time-table td.selected {
  background-color: #9ee7ff; /* Blue for selected cells */
}
.time-table td.preview {
  background-color: #add8e6; /* Lighter blue for preview selection */
}
